@use '@angular/material' as mat;

.left {
  flex: 1;
}

.content {
  flex: 1;
  margin: 0 auto;
  max-width: 640px;
  padding: 20px;
  height: calc(100vh - 104px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card {
    @media screen and (max-width: 480px) {
      border-radius: 0;
    }
  }

  @media screen and (max-width: 480px) {
    height: auto;
    padding: 0;

    width: 100%;
  }

  .search-field {
    width: 100%;
  }

  .loader {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
  }
}
